h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkorchid;
    background-color: dimgray;
    text-align: center;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:fuchsia;
    border: 1px solid goldenrod;
    text-align: right;
}

div {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: white;
    text-align: left;
    padding: 30%;
    margin: 50px;
}